/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    color: #22305E;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 40px;
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    color: #22305E;
    font-size: 25px;
}

h2:after {
    display: block;
    content: '';
    height: 2px;
    width: 180px;
    background: black;
    margin: 0 auto;
    margin-top: 20px;
}

h3,
h5 {
    font-family: 'Fjalla One', sans-serif;
}

button {
    padding: 12px 25px;
    font-size: 20px;
}
.construction{
    color: rgb(189, 2, 2);
}

/* NAVBAR */

header {
    min-height: 10vh;
    width: 80%;
    margin: auto;
}

.logo button {
    border: none;
    cursor: pointer;
}

.logo {
    width: 140px;
}

.logo img {
    width: 100%;
}

nav .icon {
    display: none;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #22305E;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 30px;
    letter-spacing: 4px;
    font-weight: 600;
    padding: 10px 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

nav ul li a:hover {
    background-color: rgb(184, 184, 184);
    padding: 10px 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

nav .icon {
    color: rgb(20, 20, 20);
    font-size: 25px;
}

/* .dropbtn {
    text-decoration: none;
    color: #22305E;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 50px;
    letter-spacing: 4px;
    font-weight: 600;
    cursor: pointer;
  } */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
    position: relative;
    display: inline-block;
  } */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

/* Links inside the dropdown */
/* .dropdown-content a {
    color: #22305E;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 50px;
    letter-spacing: 4px;
    font-weight: 600;
    cursor: pointer;
    display: block;
  } */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
    background-color: rgb(184, 184, 184);
    padding: 12px 20px;
  } */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
  } */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    display: block;
    text-decoration: none;
    color: #22305E;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 50px;
    letter-spacing: 4px;
    font-weight: 600;
    cursor: pointer;
  } */




/* HERO */
.hero {
    min-height: 80vh;
    background: url(/images/accueil/photo-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 80px;
    font-weight: 400;
    margin-top: 20px;
}

.hero h3 {
    font-size: 27px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 20px;
    line-height: 40px;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-family: 'Fjalla One', sans-serif;
}

.hero button {
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
}

.hero button:hover {
    color: white;
    background-color: transparent;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    border: none;
}

/* SECTION A PROPOS */
/* TITLE-1*/
.title-1 h1 {
    font-size: 40px;
    text-align: center;
    color: #22305E;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-1 h1:after {
    content: '';
    background-color: black;
    height: 2px;
    width: 220px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

/* CONTENT-1 */
.a-propos .content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.a-propos .content-1 img {
    max-width: 350px;
    border-radius: 5px;
    border: 1px solid black;
}

.a-propos .content-1 p {
    max-width: 400px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
    margin-left: 60px;
    font-size: 20px;
    line-height: 35px;
}

/* SECTION ACTIVITES */
.activites {
    background-color: #c8c8c8;
}

/* TITRE ACTIVITES H2 */
.activites h2 {
    margin-top: 80px;
    padding-top: 50px;
}

/* TITRE ACTIVITES H3 */
.activites h3 {
    color: #22305E;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 80px;
}

/* CONTAINER ACTIVITES STRUCTURE */
.activites-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

/* IMAGE ORDINATEUR */
.activites-box-2 img {
    max-width: 400px;
}

/* ICONES ET TEXTES ACTIVITES */
.activites-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 10px;
}

.activites-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.activites-content p {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 2em;
    text-align: justify;
}

.icone {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 9px;
}
/* NEWSLETTER */
/* CONTENT BOX-1 */
.newsletter .content .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
/* DIMENSIONS IMAGE */
.newsletter .box-1 .image img{
    max-width: 350px;
    border-radius: 5px;
}
/* MODIFIER TEXTE */
.newsletter .box-1 .texte p{
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 1.5em;
    text-align: center;
    margin-left: 20px;
}
.newsletter .content .box-2{
    text-align: center;
}
.newsletter .content .box-2 button{
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid #222222;
    background: #222222;
    color: white;
    margin-top: 40px; 
    margin-bottom: 20px;   
}
.newsletter .content .box-2 label{
    font-size: 20px;
    color: #22305E;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    margin-right: 20px;
}
.newsletter .content .box-2 input{
    padding: 8px 10px;
    border: 2px solid #22305E;
    border-radius: 5px;
    font-size: 16px; 
}

/* RGPD */

.rgpd .rgpd-texte{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    line-height: 1.5em;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 20px;
}
.rgpd .rgpd-texte-2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    line-height: 1.5em;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 50px;
}

  /* FOOTER */

footer{
    width: 100%;
    background: rgb(27, 27, 27);
    color: white;
    padding-bottom: 30px;
}

/* FOOTER-CONTENT*/
footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 50px;
}

/* FOOTER-CONTENT-H3 */
.footer-content h3 {
    margin-bottom: 10px;
}

/* ICONE FACEBOOK SIZE */
footer .facebook img {
    max-width: 40px;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    margin-top: 35px;
}













/* SECTION ACTIVITES */
/* .activites{
    background: rgb(236, 236, 236);
    min-height: 80vh;
    margin-top: 50px;
}
.activites .box-1{
    padding: 30px;
    position: relative;
}
.activites .content-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.propositions h2{
    font-size: 30px;
    color: #22305E;
    margin-bottom: 30px;
    margin-left: 30px;
    letter-spacing: 2px;
}
.propositions p{
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 2em;
    text-align: justify;
}
.propositions .icones{
    max-width: 15px;
    display: flex;
    flex-direction: column;

}
.propositions{
    width: 50%;
}


.boxes .icones{
    margin-right: 25px;
    margin-top: 15px;
}
.boxes .icones img{
    margin-bottom: 10px ;
}
.image-1 img{
    max-width: 350px;
}

.button-1 button{
    background: rgb(27, 27, 27);
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 45%;
    top: 100%
} */


/* FOOTER
footer{
    min-height: 25vh;
    width: 100%;
    background: rgb(27, 27, 27);
}
footer .content-3{
    display: flex;
}
footer .contact{
    position: absolute;
    left: 38%;
    margin-top: 30px;
}
footer .facebook{
    position: absolute;
    left: 57%;
    margin-top: 40px;
}
footer p, h3{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

footer img{
    max-width: 40px;
}
footer .copyright{
    text-align: center;
    margin-top: 160px;
} */

/* RESPONSIVE */
/* NAVBAR */

@media screen and (max-width: 880px) {
    .topnav {
        width: 90%;
        margin: auto;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
        position: absolute;
        top: 95px;
        z-index: 20;
        right: 0;
        background-color: honeydew;
    }

    .topnav #myLinks li {
        margin: 10px 10px;
    }


    nav ul {
        display: none;
        margin-left: 30px;
    }

    nav .icon {
        display: block;
    }
}
.newsletter .box-1 .texte p{
    margin-right: 20px;
}
@media screen and (max-width: 415px) {

    .hero {
        background-attachment: initial;
        background-size: auto;
    }

    .topnav {
        width: 90%;
        margin: auto;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
        position: absolute;
        top: 95px;
        z-index: 20;
        right: 0;
        background-color: honeydew;
    }

    .topnav #myLinks li {
        margin: 10px 10px;
    }


    nav ul {
        display: none;
        margin-left: 30px;
    }

    nav .icon {
        display: block;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        color: white;
        border-radius: 8px;
    }

    /* HERO */
    .hero h1 {
        font-size: 50px;
    }

    .hero h3 {
        font-size: 20px;
    }

    /* SECTION A PROPOS */

    .a-propos .content-1 p {
        font-size: 15px;
        margin: 0 auto;
        max-width: 330px;
        margin-top: 20px;
    }

    .icones img {
        display: none;
    }

    .boxes .paragraphe p {
        font-size: 15px;
        max-width: 800px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: justify;
    }

    /* SECTION ACTIVITES */
    .activites-box-1 {
        margin-left: 25px;
    }

    .activites-box-1 p {
        font-size: 15px;
        margin-top: 12px;
    }

    .activites-container .activites-content img {
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }

    .activites-box-2 img {
        max-width: 270px;
    }
}

@media screen and (max-width : 320px) {
    .hero h1 {
        font-size: 35px;
    }

    .hero h3 {
        font-size: 15px;
    }

    .hero button {
        background-color: white;
    }
}